<html>
    <body>
        <p>Dear {{toName}},</p>
        <p>You are requested by {{fromName}} to provide feedback on your experience within a project {{projectName}} on RevYou platform.</p>
        <p>Please write what do you think about {{fromName}} as a professional.</p>
        <p><a href="{{feedbackLink}}">Provide Feedback</a></p>
        <p>Thank you for your time and feedback.</p>
        <p>Best regards,<br/>{{fromName}}</p>
    </body>
</html>